<%- include('../layout/start') %>
<section class="d-flex">
  <%- include('../layout/adminNavbar') %>
  <div style="width: 100%; height: 100px; background-color: aquamarine;" class=""></div>

  
</section>
<%- include('../layout/end') %>