/* Hide the default checkbox
/*  */
/* .gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */
  
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
  /* } */


  /* ////////////////////////admin/////////////// */
  

  .gradient-custom{
    position: absolute;
     height: 650px;
  }
  .otp{
    height: 650px;
  }
  .dark1{
    background: none;
    /* background-color:rgba(0,0,0, 0.2); */
    backdrop-filter: blur(4px) !important;
    
  }
  .dark{
    background: none !important;
  }
  .err-div{
    height: 18px;
  }
  /* From uiverse.io by @alexruix */
.input {
 line-height: 28px;
 border: 2px solid transparent;
 border-bottom-color: #777;
 padding: .2rem 0;
 outline: none;
 background-color: transparent;
 color: #0d0c22;
 transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, input:hover {
 outline: none;
 padding: .2rem 1rem;
 border-radius: 1rem;
 border-color: #7a9cc6;
}

.input::placeholder {
 color: #777;
}

.input:focus::placeholder {
 opacity: 0;
 transition: opacity .3s;
}
.verify-email{
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: sucsess 1s infinite alternate;

}
@keyframes sucsess{
  0%{
    color: red;
  }
  25%{
  color: black;
  }50%{
    color: green;
  }
  75%{
    color: aqua;
  }
  100%{
    color: #7a9cc6;
  }
}
.verify-btn{
  font-size:2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.verify-card{
  width: 75%;
}
@media (max-width:600px) {
  .verify-card{
    width: 90%;
  }
}
.admin-nav{
  /* position: absolute; */
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 70px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0px 20px 35px rgba(0,0,0,0.1);
}
.nav-ul li a img {
  margin: 20px;
  
}
.nav-ul li a span {
  display: flex;
  align-items: center;
}

.admin-nav:hover{
  width: 200px;
}
/* .admin-logo{
  display: flex;
  align-items: center;
} */

.catgeory-edit{
  border-radius: 8px;
  height: 70%;
  width: 500px;
  background-color: #7a9cc6;
}@media (max-width:500px){
  .catgeory-edit{
    height: 70%;
    width: 100%;
    background-color: #7a9cc6;
  }
}
.product-form{
  width: 75%;
  display: flex;
  justify-content: center;
}

.fs-16 {
  font-size: 1rem;
}


#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('/img/emoji.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
      -ms-transform: scale(2.4);
          transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: 'Nunito', sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}
.Dashboard-ul li{
 list-style: none;
 display: flex;
 height: 90px;
 width: 150px;
 justify-content: space-evenly;
 align-items: center;
}
.Dashboard-ul{
  height: 100%;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}
.Dashboard-ul div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:500px) {
  .Dashboard-ul{
    height: 100%;
    display: flex;

  }
  .Dashboard-ul div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
  .grafandshow{
    display: flex;
    flex-direction: row-reverse;
  }.x{
    height:50vh !important;
  }
}

.grafandshow{
  display: flex;
  flex-direction: row;
}
.radius{
  border-radius: 8px ;
}
.liststyle{
  list-style: none;
  border-bottom:1px solid #777;
  padding: 8px;
}
.sales {
  position: fixed;
background-color:#19191a;
}
@media (max-width:800px) {
  .sales {
    position:sticky;
    background-color: #19191a;
  
  }
}
.scroll{
  overflow: scroll;
 }
 ::-webkit-scrollbar {
    display: none;
}
.colorr{
  background-color: rgba(5, 5, 5, 0.938)
}
.checked {
  color: orange;
}
.banner{
  animation: bg 5s infinite alternate;
}
@keyframes bg{
  0%{
      background-color: #f7efef;
  }
  10%{
    background-color: #e1dddd;
  }
  20%{
    background-color: #fbf1f1;
  }
  30%{
    background-color: #bdbbbb;
  }
  40%{
    background-color: #e9e5e5;
  }
  50%{
    background-color: #fef3f3;
  }
  60%{
    background-color: #e4efe5;
  }
  70%{
    background-color: hsla(86, 100%, 99%, 0.948);
  }
  80%{
    background-color: #efe8e9;
  }
  90%{
    background-color: #f2f1f6;
  }
  
}