<%- include('../layout/start') %>

<div class="containar-fluid ">
<div class="row vh-100 vw-100 d-flex justify-content-center align-items-center m-0">
<div class="verify-card card shadow py-5  rounded d-flex justify-content-center flex-column">
<p class="  verify-email text-uppercase text-center ">email verifycation</p>
<p class="  verify-email  text-uppercase text-center">success</p>
<div class="d-flex justify-content-center">
   <a href="/" class="w-100 d-flex justify-content-center"> <button class="verify-btn w-50 d-flex justify-content-center btn btn-primary ">NEXT</button></a>
</div>
</div>
</div>


<%- include('../layout/end') %>
