
<style>
  .hallo{
    
    height: 100vh;
  }
  @media (max-width:500px) {
    .hallo{
    
  height: auto;
  }
  }
</style>
<section class="d-flex row col-md-2 m-0 p-0 "  >
<nav class="hallo  navbar navbar-expand-lg navbar-light  d-flex flex-column m-0 p-3">
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  
  <div class="collapse navbar-collapse d-flex justify-content-start flex-column bg-dark w-100 radius" id="navbarNav">
    <ul class="navbar-nav d-flex flex-column" >
      <li class=" mt-4 nav-item">
        <img src="img/footer-logo.png" alt="">
      </li>
      <li class=" mt-4 nav-item">
        <a class="nav-link text-white "  href="/admin"><b>DASHBORD</b></a>
      </li>
      <li class=" nav-item">
        <a class="nav-link text-white "  href="/admin/sales"><b>SALES</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/user"><b>USER</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/products"><b>PRODUCT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/catgeroy"><b>CATEGORY</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/orderlists"><b>ORDER LIST</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/coupon"><b>COUPON</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/banner"><b>BANNER</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/admin/logout"><b>LOGOUT</b></a>
      </li>

    </ul>

  </div>
</nav>
</section>

